<p>
  Artist list
</p>
<div class="container-fluid">
  <div class="row">
    <ul class=" col-md-10 ">
      <li routerLink="/music/ayefele"><img src="assets/musics/one.jpg" alt="" width="100px" height="100p">Ayefele</li>
      <li routerLink="/music/tope-alabi"><img src="assets/musics/one.jpg" alt="" width="100px" height="100p">Tope Alabi</li>
      <li><img src="assets/musics/one.jpg" alt="" width="100px" height="100p">Baba ara</li>

    </ul>
    <div class="col-md-10">
      <router-outlet></router-outlet>
      </div>
  </div>
  
</div>
