<!-- 
<div class="row">
  <div class="col-2">
<div  (click)='ayef()'>Music</div>
<div  (click)='ayef()'>Ayefele</div>
<div  (click)='ayef()'>Tope Alabi</div>
<div  (click)='ayef()'>Baba ara</div>
</div>
<table class=" col-8 table table-hover  table-bordered">
  <thead>
    <th>Title</th>
    <th>lenght</th>
    <th>Rating</th>
    <th>Airtist contribute</th>
  </thead>
  <tbody class="tabl-responvive">
    <tr *ngFor="let file of music">
      <td (click)="send(file)">
       {{file.name}} {{file.title}}
      </td>
      <td>4:00</td>
      <td>**</td>
      <td>{{file.name}}</td>
    </tr>
  </tbody>
</table>
</div> -->
